---
layout: basic
---
<div class="pt-5 text-white bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-md-left text-center align-self-center my-5">
        <h1 class="display-1">{{site.title}}</h1>
        <p class="lead">{{site.description}}</p>
        <div class="row mt-5">
          <div class="col-md-12 col-6">
            <a class="btn btn-block btn-success" href="/invite">Invite</a>
          </div>
        </div>
      </div>
      <div class="col-md-6" style="overflow: hidden;height: 500px;">
        <img class="img-fluid d-block mx-auto" src="/img/discord-chat.png">
      </div>
    </div>
  </div>
</div>
<div class="py-5 text-center bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1 class="">Servers</h1>
        <p class="lead display-3">{{site.data.phones.servers}}</p>
      </div>
      <div class="col-md-4">
        <div class="col-md-12">
          <h1 class="">Calls made</h1>
          <p class="lead display-3">{{site.data.phones.callsMade}}</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-md-12">
          <h1 class="">Calls happening</h1>
          <p class="lead display-3">{{site.data.phones.currentCalls}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="py-5 col-md-6">
        <div class="row">
          <div class="text-center col-4">
            <i class="d-block mx-auto fa fa-5x fa-comments"></i>
          </div>
          <div class="col-8">
            <h5 class="mb-3 text-primary">
              <b>Talk to other servers</b>
            </h5>
            <p class="my-1">Silmiar to a real phone you can talk to people from one side of discord to the other.</p>
          </div>
        </div>
      </div>
      <div class="py-5 col-md-6">
        <div class="row">
          <div class="text-center col-4">
            <i class="d-block mx-auto fa fa-5x fa-phone"></i>
          </div>
          <div class="col-8">
            <h5 class="mb-3 text-primary">
              <b>Many-way conversations</b>
            </h5>
            <p class="my-1">Unlike most discord bots that offer a similar thing. We let you have any members in a call as you want.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="py-5 col-md-6">
        <div class="row">
          <div class="text-center col-4">
            <i class="d-block mx-auto fa fa-5x fa-server"></i>
          </div>
          <div class="col-8">
            <h5 class="mb-3 text-primary">
              <b>Learn about new and interesting servers</b>
            </h5>
            <p class="my-1">Depedning on what servers invited this bot you can talk to all of them</p>
          </div>
        </div>
      </div>
      <div class="py-5 col-md-6">
        <div class="row">
          <div class="text-center col-4">
            <i class="d-block mx-auto fa fa-5x fa-random"></i>
          </div>
          <div class="col-8">
            <h5 class="mb-3 text-primary">
              <b>Start a random call to a random server</b>
            </h5>
            <p class="my-1">Dont know who to call? We will find you someone.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% if site.data.reviews %}
<div class="py-5 section text-center bg-light" id="reviews">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="5000">
            <div class="carousel-inner" role="listbox">
              {% for review in site.data.reviews %}
              <div class="carousel-item active">
                <img src="img/reviews/{{ review.name }}.png" class="img-block mx-auto my-3 d-block" width="250" data-holder-rendered="true">
                <div class="blockquote ">
                  <p class="m-0">{{review.text}}</p>
                  <div class="blockquote-footer">{{ review.text }}</div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %]
